body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto, sans-serif;
  text-align: center;
  background: rgb(253, 29, 29);
  background: -moz-linear-gradient(
    87deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
  background: -webkit-linear-gradient(87deg, #fd1d1d 0%, #fcb045 100%);
  background: linear-gradient(87deg, #fd1d1d 0%, #fcb045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fd1d1d",endColorstr="#fcb045",GradientType=1);

}

code {
  background-color: #333;
  padding: 0.5rem;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: medium;
  position: relative;
  padding-left: 1rem;

}
code::after {
  content: "> ";
  color: #999;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}

h1{
  color: #fafafa;
}


code::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #333 20%, #555 80%);
  animation: code_showup 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes code_showup {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

span {
  color: #fafafa;
}
.color_red {
  color: #e95678;
}
.color_green {
  color: #a6e22e;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  color: #fafafa;
}
