<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${APP_NAME}</title>
    <link rel="stylesheet" href="style/index.css">
</head>

<body>
    <pre><code><span class="color_red">webdev</span> <span>gen</span> <span class="color_green">${TEMPLATE}</span> <span class="color_green">${APP_NAME}</span></code></pre>
    <footer id="footer"></footer>

    <script src="script/index.js"></script>
</body>

</html>